<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя</title>
</head>
<body>
    <a th:href="@{/}">Домашняя</a>
    <br />
    <br />
    <h2>Редактирование пользователя</h2>
    <form th:action="@{/user/editUser}" th:object="${userDto}" th:method="put">
        <span th:text="${errorMessage}" style="color: red"></span>
        <br />
        <input type="hidden" id="id" th:field="*{id}" th:value="${userDto.id}">
        <div>
            <label for="firstName">Имя:</label>
            <input type="text" id="firstName" th:field="*{firstName}" th:value="${userDto.firstName}">
            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style="color: red"></span>
        </div>
        <br />
        <div>
            <label for="lastName">Фамилия:</label>
            <input type="text" id="lastName" th:field="*{lastName}" th:value="${userDto.lastName}">
            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color: red"></span>
        </div>
        <br />
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" th:field="*{email}" th:value="${userDto.email}">
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red"></span>
        </div>
        <br />
        <div>
            <label for="phone">Телефон:</label>
            <input type="tel" id="phone" th:field="*{phone}" th:value="${userDto.phone}">
            <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" style="color: red"></span>
        </div>
        <br />
        <div>
            <label for="username">Имя пользователя:</label>
            <input type="text" id="username" th:field="*{username}" th:value="${userDto.username}">
            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red"></span>
            <span th:text="${errorMessage}" style="color: red"></span>
        </div>
        <br />
        <div>
            <label for="password">Пароль:</label>
            <input type="password" id="password" th:field="*{password}" th:value="${userDto.password}">
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red"></span>
        </div>
        <br />
        <button type="submit">Применить</button>
    </form>
    <br />
    <a th:href="@{/user}">Отмена</a>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.9/jquery.inputmask.min.js"
            integrity="sha512-F5Ul1uuyFlGnIT1dk2c4kB4DBdi5wnBJjVhL7gQlGh46Xn0VhvD8kgxLtjdZ5YN83gybk/aASUAlpdoWUjRR3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        $(document).ready(function(){
            $('#phone').inputmask({
                mask: "+9(999)999-99-99",
                placeholder: "_"
            });
        });
    </script>
</body>
</html>