<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Подтвердить бронирование</title>
</head>
<body>
    <a th:href="@{/}">Домашняя</a>
    <br />
    <br />
    <h1>Подтвердить бронирование</h1>
    <p>Вы уверены, что хотите подтвердить это бронирование??</p>

    <br />
    <form th:action="@{/bookings/{id}/confirm(id=${booking.id})}" method="post">
        <button type="submit">Подтвердить</button>
    </form>

    <br />
    <div>
        <a href="/bookings">Вернуться к списку бронирований</a>
    </div>

    <div>
        <p th:text="${message}"></p>
        <p th:text="${error}"></p>
    </div>
</body>
</html>